langchain
langchain-community
langchain-core
langchain-chroma
langchain-google-genai
langchain-huggingface

chromadb
sentence-transformers

pypdf
python-dotenv
pandas 
numpy
fastapi
uvicorn
passlib[bcrypt]
matplotlib
python-jose 
mlflow
psycopg2-binary